{% extends 'landing_page.html' %}

{% load core %}

{% block title %}Create your account | {{ site.name }}{% endblock %}

{% block subnav_class %}no_sub_nav{% endblock %}

{% block main %}

	<div class="row">
		
		<div class="span12">
	
			<h2>You've been invited to play in the golf club in the world </h2>
	
			<p class="tagline">The premise is simple: Link up. Play and record. Win.</p>

			<form action="{{ request.path }}" method="post" id="update_password_form_wrapper" class="invite_signup form-stacked">

				{% csrf_token %}
		
				{% for field in form %}

					{% render_field field %}
		
				{% endfor %}

				<input type="submit" class="btn primary large" value="Create Account">

			</form>
			
		</div>
			
	</div>
			
{% endblock %}